@use 'src/shared/styles' as *;

.tagsCart {
  flex: none;
  width: 315px;
  height: 278px;
  overflow: hidden;
  @include centerInsideContent($flex-direction: column);

  border-radius: 30px;
  gap: 18px;

  background-color: $white;

  .image {
    flex: none;
    width: 100%;
    height: 151px;
    object-fit: scale-down;
  }

  .label {
    width: fit-content;
    height: fit-content;
    @include fnt($size: 30, $line-height: 45, $weight: 500, $color: $gray-900);
  }

  transition: all ease-out 200ms;
  cursor: pointer;

  &:hover {
    border: 10px solid $main-yellow;
  }
}