@use "font_config";

@mixin fnt(
  $size: 16,
  $line-height: 24,
  $color: black,
  $weight: 400,
  $family: font_config.$golos,
  $stretch: normal,
  $style: normal,
  $variant: normal,
) {
  font-size: #{$size}px;
  line-height: #{$line-height}px;
  color: $color;
  font-weight: $weight;
  font-family: $family;
  font-stretch: $stretch;
  font-style: $style;
  font-variant: $variant;
}
