@use 'src/shared/styles' as *;

.productMiniCart {
  width: 320px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  padding: 26px 41px;
  gap: 10px;

  background-color: $white;

  .img {
    flex: none;
    width: 235px;
    height: 230px;
    object-fit: scale-down;
  }

  .main {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    .content {
      flex: 1;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      .label {
        display: inline-block;
        width: 100%;
        text-wrap: nowrap;
        text-align: center;
        @include fnt($size: 30, $line-height: 45, $weight: 500, $color: $gray-900);
        animation: bounce 8s ease-in-out infinite;
      }

      .info {
        width: fit-content;
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 6px;

        .description {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
          text-align: center;
          @include fnt($size: 16, $line-height: 24, $weight: 300, $color: $gray-900);
        }

        .cost {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
          text-align: center;
          @include fnt($size: 20, $line-height: 30, $weight: 700, $color: $gray-900);
        }
      }
    }

    .seeButton {
      @include btn() {
        width: fit-content;
        height: fit-content;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0); /* Начало — текст в начале контейнера */
  }
  50% {
    transform: translateX(calc(100% - 320px)); /* Текст до конца контейнера */
  }
  100% {
    transform: translateX(0); /* Возврат в начало */
  }
}